# 19 抽取一行考试成绩数据

In [4]:
考试成绩数据

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [5]:
抽取一行名为“明日”的考试成绩数据

语文    110.0
数学    105.0
英语     99.0
Name: 明日, dtype: float64

## 答:

In [7]:
import pandas as pd
#解决数据输出时列名不对齐的问题
pd.set_option('display.unicode.east_asian_width', True)
data = [[110,105,99],[105,88,115],[109,120,130],[112,115]]
name = ['明日','七月流火','高袁圆','二月二']
columns = ['语文','数学','英语']
df = pd.DataFrame(data=data, index=name, columns=columns)
df

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [8]:
print(df.loc['明日'])

语文    110.0
数学    105.0
英语     99.0
Name: 明日, dtype: float64

# 20 抽取多行考试成绩数据

In [10]:
抽取行名为“明日”和“高袁圆”的考试成绩数据

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0

## 答：

In [9]:
print(df.iloc[[0,2]])

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0

# 21 抽取连续几个学生的考试成绩

In [12]:
从“明日”到“二月二”

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [14]:
第1行到“七月流火”

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0

In [21]:
第2行到最后1行

          语文  数学   英语
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

## 答：

In [13]:
print(df.loc['明日':'二月二']) #从“明日”到“二月二”

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [15]:
print(df.loc[:'七月流火'])     #第1行到“七月流火”

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0

In [22]:
print(df.iloc[1::])            #第2行到最后1行

          语文  数学   英语
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

# 22 抽取“语文”和“数学”的考试成绩数据

In [23]:
抽取列名为“语文”和“数学”的考试成绩数据

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

## 答：

In [24]:
df = pd.DataFrame(data=data, index=name, columns=columns)
print(df[['语文','数学']])

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

# 23 抽取指定学科的考试成绩

In [25]:
抽取“语文”和“数学”

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [27]:
抽取第1列和第2列

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [29]:
抽取从“语文”开始到最后一列

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [31]:
连续抽取从1列开始到第3列

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

## 答：

In [26]:
print(df.loc[:,['语文','数学']])   #抽取“语文”和“数学”

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [28]:
print(df.iloc[:,[0,1]])            #抽取第1列和第2列

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

In [30]:
print(df.loc[:,'语文':])           #抽取从“语文”开始到最后一列

          语文  数学   英语
明日       110   105   99.0
七月流火   105    88  115.0
高袁圆     109   120  130.0
二月二     112   115    NaN

In [32]:
print(df.iloc[:,:2])               #连续抽取从1列开始到第3列

          语文  数学
明日       110   105
七月流火   105    88
高袁圆     109   120
二月二     112   115

# 24 抽取指定学科和指定学生的考试成绩

In [39]:
“七月流火”的“英语”成绩（只显示数值）

115.0

In [35]:
“七月流火”的“英语”成绩

           英语
七月流火  115.0

In [37]:
“七月流火”的“数学”和“英语”成绩

          数学   英语
七月流火    88  115.0

In [42]:
第2行到最后一行的第3列

           英语
七月流火  115.0
高袁圆    130.0
二月二      NaN

In [44]:
第2行到最后一行的第1列和第3列

          语文   英语
七月流火   105  115.0
高袁圆     109  130.0
二月二     112    NaN

In [46]:
所有行，第3列

明日         99.0
七月流火    115.0
高袁圆      130.0
二月二        NaN
Name: 英语, dtype: float64

## 答：

In [40]:
print(df.loc['七月流火','英语'])   #“七月流火”的“英语”成绩（只显示数值）

115.0

In [36]:
print(df.loc[['七月流火'],['英语']])          #“七月流火”的“英语”成绩

           英语
七月流火  115.0

In [38]:
print(df.loc[['七月流火'],['数学','英语']])   #“七月流火”的“数学”和“英语”成绩

          数学   英语
七月流火    88  115.0

In [43]:
print(df.iloc[1:,[2]])                        #第2行到最后一行的第3列

           英语
七月流火  115.0
高袁圆    130.0
二月二      NaN

In [45]:
print(df.iloc[1:,[0,2]])                      #第2行到最后一行的第1列和第3列

          语文   英语
七月流火   105  115.0
高袁圆     109  130.0
二月二     112    NaN

In [47]:
print(df.iloc[:,2])                           #所有行，第3列

明日         99.0
七月流火    115.0
高袁圆      130.0
二月二        NaN
Name: 英语, dtype: float64

# 25 抽取指定学科和指定分数数据

In [48]:
抽取语文成绩大于105分，数学成绩大于88分的数据

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0
二月二   112   115    NaN

## 答：

In [49]:
print(df.loc[(df['语文'] > 105) & (df['数学'] >88)])

        语文  数学   英语
明日     110   105   99.0
高袁圆   109   120  130.0
二月二   112   115    NaN